{% extends "base.html" %} {% load static %} {% block contenido %}

<!-- Main-->
<main class="bg-dark py-5" style="min-height: 50vh !important">
    <div class="container px-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-10">
          <div class="text-center my-5">
            <h1 class="display-5 fw-bolder text-white pt-5 mb-2">
                Chao, has cerrado sesión...
            </h1>
          </div>
        </div>
      </div>
    </div>
  </main>
  <section class="bg-ligth py-5" style="min-height: 50vh !important">
  </section>

{% endblock %}