{% extends "base.html" %} {% load static %} {% block contenido %}

<!-- Main-->
<main class="bg-dark py-5" style="min-height: 50vh !important">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-10">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white pt-5 mb-2">
            Mi perfil
          </h1>
        </div>
      </div>
    </div>
  </div>
</main>
<section class="bg-ligth py-5" style="min-height: 50vh !important">
  <div class="container px-5 my-5 px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <p>Usuario: {{ user.username }}</p>
        <p>Nombre: {{ user.first_name }}</p>
        <p>Apellido: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
      </div>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-3">
        <button class="btn btn-warning ms-5">
          <a class="navbar-brand" href="{% url 'editar_perfil' %}">Editar</a>
        </button>
      </div>
    </div>
  </div>
</section>

{% endblock %}
