{% extends "base.html" %} {% load static %} {% block contenido %}
<!-- Main-->
<main class="bg-dark py-5" style="min-height: 50vh !important">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white pt-3 mb-2">Posts</h1>
        </div>
      </div>
    </div>
  </div>
</main>

<section class="container justify-content-center bg-ligth py-5" style="min-height: 50vh !important">
  {% if object_list.count == 0 %}
  <div class="container text-center p-5">
    <h2>No hay articulos.</h2>
  </div>
  {% else %}
  <div class="row justify-content-center">
    {% for articulo in object_list %}
    <!-- Testimonial 1-->
    <div class="col-5 card mb-4">
      <div class="card-body p-4">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
          </div>
          <div class="ms-4">
            <h5 class="mb-1">{{articulo.titulo}}</h5>
            <p class="mb-1">{{articulo.subtitulo}}</p>
            <div class="small text-muted">
              - {{articulo.autor}}, {{articulo.fecha}}
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <button class="col-2 mb-4 btn btn-primary">
          <a class="navbar-brand" href="{% url 'detail-post' articulo.id %}">Ver mas</a>
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %} {% if user.is_authenticated %}
  <div class="row-8 gx-5 d-flex flex-grap justify-content-center">
    <button class="btn btn-primary">
      <a class="navbar-brand" href="{% url 'create-post' %}">Agregar post</a>
    </button>
  </div>
  {% endif %}
</section>

{% endblock %}
